body {
    background-image: url('./assets/background.png');
    background-position: 0 0;
    background-repeat: repeat-x;
    animation: move-background 10s linear infinite;
  }
  
  @keyframes move-background {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }